type dumpsys, domain;

# Allow access to persist
r_dir_file(cameraserver, persist_file)
allow cameraserver persist_file:file { write setattr };

allow cameraserver self:process { execmem };

allow cameraserver shell_exec:file { r_file_perms };

allow cameraserver adsprpcd_file:file { r_file_perms };
