allow init dash_device:chr_file { getattr };
domain_trans(init, rootfs, dashd)

allow init proc:lnk_file { setattr };
allow init sysfs_fpc_home:file { setattr };
